/* SlidesProducts */

.slides-products-container {
  display: flex;
  gap: 15px;
  overflow: hidden;
}

.slide {
  flex: 0 0 100%;
}

.slide:hover {
  transition: none;
}

@media screen and (min-width: 600px) {
  .slides-products-container {
    gap: 4%;
  }
  .slide {
    flex: 0 0 48%;
  }
}

@media screen and (min-width: 900px) {
  .slides-products-container {
    gap: 5%;
  }
  .slide {
    flex: 0 0 30%;
  }
}

@media screen and (min-width: 1280px) {
  .slides-products-container {
    gap: 4%;
  }
  .slide {
    flex: 0 0 22%;
  }
}
