@import url("./variables.css");
@import url("./global.css");

hr {
  border-color: var(--gray-color-2);
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

/* Products Look */

.products-look-title {
  height: 33px;
  display: flex;
  align-items: center;
  background-color: var(--gray-color-6);
  padding: 5px 7px;
  margin-bottom: 8px;
}

.products-look-title h2 {
  font-family: var(--font-family-2);
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--gray-color-4);
  text-transform: uppercase;
}

/* Product */

.product {
  width: 290px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-info > img {
  margin-top: 20px;
}

.prouduct-galery {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 40px;
}

.product-title {
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--gray-color-2);
  margin-top: 24px;
}

.product-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-top: 24px;
  margin-top: 30px;
}

.product-separator {
  width: 100%;
  border-color: var(--gray-color-2);
}

/* Slides Products */

.slides-products-container {
  display: flex;
  gap: 27px;
}

/* Recomended Products */

.products-recomended {
  margin-top: 48px;
}

/* App Footer */

.footer-brand {
  height: 155px;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--gray-color-7);
}

.footer-brand h6 {
  font-family: var(--font-family-2);
  font-size: 2.25rem;
  font-weight: 400;
  color: var(--gray-color-2);
  text-transform: uppercase;
}

.footer-brand hr {
  width: 116px;
  margin-top: 24px;
  border-top-width: 0px;
  border-bottom-width: 2px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-color: var(--gray-color-2);
}

.footer-icons {
  display: flex;
  align-items: center;
  gap: 35px;
  margin-top: 18px;
}

.footer-links {
  padding: 30px 60px 0;
  display: flex;
}

.footer-group-links {
  width: 100%;
  height: 200px;
}

.footer-group-links h6 {
  font-family: var(--font-family-2);
  font-size: 1.25rem;
  font-weight: bold;
  color: var(--gray-color-2);
  text-transform: uppercase;
}

.footer-group-links ul {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-color-2);
  text-transform: uppercase;
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.footer-group-links li {
  margin: 8px 0;
}

.footer-group-links p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-color-2);
  margin-top: 14px;
}

.footer-group-links .search {
  margin-top: 14px;
}

.footer-separator {
  border-color: var(--gray-color-7);
}

.footer-sponsors {
  height: 140px;
}
