/* ProductDetailInfo */

.product-detail-info-container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.product-detail-info {
  margin-top: 20px;
}

.product-detail-info h2 {
  font-family: var(--font-family-2);
  font-size: 1rem;
  font-weight: bold;
  color: var(--gray-color-2);
  text-transform: uppercase;
}

.product-detail-info hr {
  margin: 11px 0 23px;
  border-color: var(--gray-color-2);
  border-top-width: 0px;
  border-bottom-width: 1px;
  border-left-width: 0px;
  border-right-width: 0px;
}

.product-detail-info p {
  font-size: 1rem;
  font-weight: 400;
  color: var(--gray-color-5);
}

@media screen and (min-width: 1024px) {
  .product-detail-info-container {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .product-detail-info {
    margin-top: 30px;
  }

  .product-detail-info h2 {
    font-family: var(--font-family-2);
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--gray-color-2);
    text-transform: uppercase;
  }

  .product-detail-info hr {
    margin: 11px 0 23px;
    border-color: var(--gray-color-2);
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 0px;
    border-right-width: 0px;
  }

  .product-detail-info p {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--gray-color-5);
  }
}
