/* NavBar */

.navbar {
  height: 20px;
  padding: 0 10px;
  background-color: var(--gray-color-1);
}

.navbar ul {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  list-style: none;
  padding: 0;
}

.navbar li a {
  color: var(--gray-color-2);
  font-size: 0.4rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  padding: 6px 5px;
}

@media screen and (min-width: 768px) {
  .navbar {
    height: 30px;
    padding: 0 60px;
  }

  .navbar ul {
    justify-content: end;
  }

  .navbar li a {
    font-size: 0.75rem;
    padding: 7.5px 5px;
  }
}

/* Animation */

/* Fade */

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover,
.hvr-fade:focus,
.hvr-fade:active {
  background-color: var(--white-color);
}
